body {
  background: #27556C;
  color: WhiteSmoke;
  line-height: 2.0;
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 5.2em;
  text-align: center;
}

h2 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 3.6em;
  text-align: center;
}


a {
  color: Orange;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: LightGray;
}

a:active {
  color: Whitesmoke;
}

.display-container {
  height: 500px;
}

.form-container .searchOptions {
  position: fixed;
  z-index: 1000;
  border-radius: 8px;
  width: 50%;
  right: 15%;
  margin-right: 2.0em;
  margin-top: 4.0em;
}

.searchOptions #form-instructions {
  font-family: 'Open Sans', Georgia, Times;
  text-align: center;
}

.searchOptions .search-bar {
  padding: 1.75em;
  background: #032536;
  border: 0px solid #dbdbdb;
  color: WhiteSmoke;
  font-size: 1.6em;
  font-family: 'Open Sans', Georgia, Times;
  width: 90%;
  border-radius: 8px 0px 0px 8px;
  position: relative;
}

.searchOptions .search-btn{
  padding: 1.75em;
  background: WhiteSmoke;
  color: #27556C;
  font-size: 1.6em;
  font-family: 'Open Sans', Georgia, Times, serif;
  width: 10%;
  border: solid transparent;
  border-radius: 0px 8px 8px 0px;
  position: fixed;
  text-align: center;
}

.search-btn:hover {
  cursor: pointer;
  background:  LightGray;
}

.searchOptions .arrow {
  position: relative;
  background: WhiteSmoke;
}

.arrow:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: WhiteSmoke;
  border-width: 20px;
  margin-top: -20px;
}

.display-container #map-canvas {
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.mapInfoWindow{
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1em;
  background: WhiteSmoke;
  border-radius: 8px;
  color: #27556C;
  text-align:center;
  overflow:hidden;
  text-transform:uppercase;
  float:right;
}


/*
Color Palette
.color-primary-0 { color: #27556C }	
.color-primary-1 { color: #6E91A1 }
.color-primary-2 { color: #477286 }
.color-primary-3 { color: #113C51 }
.color-primary-4 { color: #032536 }
 */
