body {
  background: #27556C;
  color: WhiteSmoke;
  line-height: 1.5;
  font-size: 62.5%;
  text-align: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 5.2em;
}

h3 {
  font-family: 'Open Sans', Georgia, Times;
  font-size : 1.8em;

}

form {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-bar {
  background: #032536;
  border: 0px solid #dbdbdb;
  color: WhiteSmoke;
  font-size: 3.0vmin;
  font-family: 'Open Sans', Georgia, Times;
  margin-left: auto;
  margin-right: auto;
}

.search-btn{	
  background: WhiteSmoke;
  font-color: #032536;
  font-size: 3.0vmin;
  font-family: 'Open Sans', Georgia, Times, serif;
  margin-left: auto;
  margin-right: auto;
}

.search-btn:hover {
  background:  Silver;
}

#map-canvas {
  height: 600px;
  width: 70%;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  font-family: 'Open Sans', Georgia, Times, serif;

}

/*
Color Palette
.color-primary-0 { color: #27556C }	
.color-primary-1 { color: #6E91A1 }
.color-primary-2 { color: #477286 }
.color-primary-3 { color: #113C51 }
.color-primary-4 { color: #032536 }
 */
