<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Graffiti Tracker</title>
    <link rel="stylesheet" href="app.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCX9RCq-_5lNCVsJet_73ABD2Jcjgh1fDY"></script>
</head>
<body>
        <section id="main">
        <h1>Chicago Graffiti Removal Tracker</h1>
        <h3>Find existing requests and make new ones for graffiti removal</h3>
        <form action='/' method= 'POST'>
            <input type="text" class="search-bar" placeholder="Search by Zip Code"
            name="Location" id="Location">
            <button type="button" class="search-btn">SEARCH</button>
        </form>
        </section>
         <section class="map-canvas">
         </section>
    </script>
    <script src="js/libs/jquery-1.11.1.min.js"></script>
    </body>

</html>

