<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Graffiti Tracker</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <script src="//maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=places"></script>
  <script src="javascripts/vendor/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="javascripts/maps.js"></script>
  <script type="text/javascript" src="javascripts/searchBox.js"></script>
  <script type="text/javascript" src="javascripts/filterSearch.js"></script>
  <link rel="stylesheet" href="style/app.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="style/favicon.ico" type="image/x-icon"/>
</head>

<body>
  <h1>Chicago Graffiti Removal Tracker</h1>
  <h3 id="site-description">Find existing requests for graffiti removal</h3>

<div class="temporary">
  <form class="searchOptions" action='/'>
    <input type="text" data-name="search-bar" class="search-bar" placeholder="Search by Street Address"
    name="location" id="box" value=""  />
    <span class="arrow">
      <button data-id="search" class="search-btn" type="submit" >Search</button>
    </span>
  </form>
</div>

<div id="map-canvas">
</div>

<script>
  $(document).ready(function(){
  openChicagoRequests= $.parseJSON('<%= openRequests %>');
  chicagoMap = initializeMap(openChicagoRequests);
  openRequestMarkers = initializeMapMarkers(openChicagoRequests, chicagoMap)
  initializeSearchBox();
  filterSearchWithUserInput(chicagoMap, openRequestMarkers);
  });
</script>

</body>
</html>
