  <form action='/' method= 'POST'>
    <input type="text" class="search-bar" placeholder="Search by Zip Code"
    name="Location" id="Location">
    <button type="button" class="search-btn">SEARCH</button>
  </form>
  </section>
  <section id="map-canvas">
  </section>

