<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Graffiti Tracker</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script src="javascripts/vendor/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="javascripts/maps.js"></script>
  <link rel="stylesheet" href="style/app.css">
</head>

<body>
  <h1>Chicago Graffiti Removal Tracker</h1>
  <h3>Find existing requests and make new ones for graffiti removal</h3>
  <div class="form">
    <form action='/' method= 'POST' name='locationSearch'>
      <input type="text" class="search-bar" placeholder="Search by Zip Code"
      name="location" id="searchLocation" value="">
      <button type="button" class="search-btn">SEARCH</button>
    </form>
  </div>

  <div id="map-canvas">
  </div>

  <script>
    $(document).ready(function(){
        openChicagoRequests= $.parseJSON('<%= openRequests %>');
        initialize(openChicagoRequests);
    });
  </script>

</body>
</html>
