<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Graffiti Tracker</title>
  <script src="js/vendor/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="js/maps.js"></script>
  <script type="text/javascript" src="js/mapMarkers.js"></script>
  <script type="text/javascript" src="js/searchBox.js"></script>
  <script type="text/javascript" src="js/filterSearch.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=places'></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1>Chicago Graffiti Removal Tracker</h1>
  <div class="display-container">
    <div class="form-container">
      <form id="searchForm" class="searchOptions" action='/'>
        <label for="box">Search</label>
        <input type="search" data-name="search-bar" class="search-bar"
        placeholder="Search requests for graffiti removal by street address"
        name="location" id="box" value="" autofocus="true" autocomplete="off" />
      </form>
    </div>

    <div id="map-canvas">
    </div>
  </div>

  <script>
    $(document).ready(function(){
    chicagoMap = initializeMap();
    initializeSearchBox();
    var openChicagoRequests= $.parseJSON('<%= openRequests %>');
    var openRequestMarkers = initializeMapMarkers(openChicagoRequests, chicagoMap);
    filterSearchWithUserInputAndLinkToChicagoWebsite(chicagoMap, openRequestMarkers);
    });
  </script>

</body>
</html>
