<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Graffiti Tracker</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <script src="//maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=places"></script>
  <script src="javascripts/vendor/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="javascripts/maps.js"></script>
  <script type="text/javascript" src="javascripts/mapMarkers.js"></script>
  <script type="text/javascript" src="javascripts/searchBox.js"></script>
  <script type="text/javascript" src="javascripts/filterSearch.js"></script>
  <link rel="stylesheet" href="style/app.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="style/favicon.ico" type="image/x-icon"/>
</head>

<body>
  <h1>Chicago Graffiti Removal Tracker</h1>
  <div class="display-container">
    <div class="form-container">
      <form id="searchForm" class="searchOptions" action='/'>
          <label for="box">Search</label>
          <input type="search" data-name="search-bar" class="search-bar"
          placeholder="Search requests for graffiti removal by street address"
          name="location" id="box" value="" autofocus="autofocus"  />
      </form>
    </div>

    <div id="map-canvas">
    </div>
  </div>

  <script>
    $(document).ready(function(){
        chicagoMap = initializeMap();
        initializeSearchBox();

        $('[id=searchForm]').submit(function(event){
            event.preventDefault();
            var request = $('[data-name=search-bar]').val();
            var openChicagoRequests= $.parseJSON('<%= openRequests %>');
            var openRequestMarkers = initializeMapMarkers(openChicagoRequests, chicagoMap);
            filterSearchWithUserInputAndLinkToChicagoWebsite(chicagoMap, openRequestMarkers, request);
    });
    });
  </script>

</body>
</html>
