@import url("//fonts.googleapis.com/css?family=Open+Sans");
@import url("//fonts.googleapis.com/css?family=Raleway:100");

body {
  background: #27556C;
  color: WhiteSmoke;
  line-height: 2.0;
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 5.2em;
}

h2 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 3.6em;
}

a {
  color: Orange;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: LightGray;
}

a:active {
  color: Orange;
}

.display-container {
  height: 1200px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

label {
  width: 90%;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

label,
input {
  display: inline-block;
  vertical-align: middle;
}

.display-container .search-bar {
  -webkit-appearance: none;
  width: 100%;
  background: #032536;
  border: 0px solid #dbdbdb;
  color: WhiteSmoke;
  font-family: 'Open Sans', Georgia, Times;
  border-radius: 8px;
  padding: .8em;
  font-size: 2.0em;
  display: block;
  margin-bottom: 10px;
  text-align:center;
}


.display-container #map-canvas {
  height: 100%;
  width: 100%;
  margin:auto;
  border-radius: 8px;
}

.mapInfoWindow{
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1em;
  background: WhiteSmoke;
  border-radius: 8px;
  color: #27556C;
  text-align:center;
  overflow:hidden;
  text-transform:uppercase;
  float:right;
  height: 200px;
  width: 150px;
}

@media only screen and (max-width: 570px) {
  h1 {
    font-size: 3.0em;
}

h2{
  font-size: 2.2em;
}

h3{
  font-size: 2.2em;
}

.display-container {
  width: 100%;
  font-size: 1.4em;
}

.mapInfoWindow{
  font-size: 1.0em;
}


}
